In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel("CO_2021_final_raw.xlsx")

In [7]:
df.head()

,state,year,distid_stateassigned,schoolid_stateassigned,distname,schoolname,ncesdistid_admin,ncesdistid_geo,census_id,ncesid,...,nces_charter,nces_magnet,nces_title1,nces_title1_schoolwide,nces_freelunch,nces_reducedlunch,nces_poverty,nces_address,nces_city,nces_zip
0,CO,2020-2021,10,187,MAPLETON 1,Mapleton Expeditionary School of the Arts,805550.0,805550.0,6500101000000,8.055500e+10,...,2-No,2-No,6-Not a Title I school,NaN,310.0,86.0,0.649180,8980 YORK STREET,THORNTON,80299.0
1,CO,2020-2021,10,212,MAPLETON 1,Mapleton Early College High School,805550.0,805550.0,6500101000000,8.055500e+10,...,2-No,2-No,6-Not a Title I school,NaN,119.0,50.0,0.625926,8980 YORK STREET,THORNTON,80229.0
2,CO,2020-2021,10,263,MAPLETON 1,Global Leadership Academy,805550.0,805550.0,6500101000000,8.055500e+10,...,2-No,2-No,6-Not a Title I school,NaN,148.0,40.0,0.698885,7480 CONIFER ROAD,DENVER,80221.0
3,CO,2020-2021,10,309,MAPLETON 1,Academy High School,805550.0,805550.0,6500101000000,8.055500e+10,...,2-No,2-No,6-Not a Title I school,NaN,216.0,68.0,0.633929,8970 YORK STREET,THORNTON,80229.0
4,CO,2020-2021,10,501,MAPLETON 1,Monterey Community School,805550.0,805550.0,6500101000000,8.055500e+10,...,2-No,1-Yes,6-Not a Title I school,NaN,NaN,NaN,NaN,2210 MCELWAIN BLVD,DENVER,80229.0

In [8]:
df.shape

(1951, 38)

In [9]:
missing = df.isnull().sum()
missing

state                           0
year                            0
distid_stateassigned            0
schoolid_stateassigned          0
distname                        0
schoolname                      0
ncesdistid_admin               24
ncesdistid_geo                 24
census_id                       0
ncesid                         24
ncesenroll                     32
gradespan                      24
level                          24
enroll_raw_CO                   0
pp_stloc_raw_CO                44
pp_fed_raw_CO                 161
pp_total_raw_CO                18
pp_site_stloc_raw_CO            0
pp_site_fed_raw_CO              0
pp_site_raw_CO                 26
pp_centshare_stloc_raw_CO       0
pp_centshare_fed_raw_CO         0
pp_centshare_raw_CO            18
schoolstloc_raw_CO             44
schoolfed_raw_CO              161
schooltot_raw_CO               18
flag_NERDS                      0
nces_locale                    24
nces_charter                   24
nces_magnet                    24
nces_title1                    24
nces_title1_schoolwide       1206
nces_freelunch                227
nces_reducedlunch             227
nces_poverty                  228
nces_address                   24
nces_city                      24
nces_zip                       24
dtype: int64

In [11]:
df = df.drop(["ncesdistid_admin","ncesdistid_geo","census_id"], axis=1)

In [17]:
df = df.rename(columns = {"distid_stateassigned": "distid","schoolid_stateassigned": "schoolid", "enroll_raw_CO": "enroll_raw", "pp_stloc_raw_CO": "pp_stloc_raw", "pp_fed_raw_CO": "pp_fed_raw", "pp_total_raw_CO": "pp_total_raw","pp_site_stloc_raw_CO":"pp_site_stloc_raw","pp_site_fed_raw_CO": "pp_site_fed_raw","pp_site_raw_CO":"pp_site_raw","pp_centshare_stloc_raw_CO":"pp_centshare_stloc_raw","pp_centshare_fed_raw_CO":"pp_centshare_fed_raw","pp_centshare_raw_CO":"pp_centshare_raw","schoolstloc_raw_CO":"schoolstloc_raw","schoolfed_raw_CO":"schoolfed_raw","schooltot_raw_CO":"schooltot_raw","flag_NERDS":"flag"})

In [21]:
df.head()

,state,year,distid,schoolid,distname,schoolname,ncesid,ncesenroll,gradespan,level,...,nces_charter,nces_magnet,nces_title1,nces_title1_schoolwide,nces_freelunch,nces_reducedlunch,nces_poverty,nces_address,nces_city,nces_zip
0,CO,2020-2021,10,187,MAPLETON 1,Mapleton Expeditionary School of the Arts,8.055500e+10,610.0,07-12,4.0,...,2-No,2-No,6-Not a Title I school,NaN,310.0,86.0,0.649180,8980 YORK STREET,THORNTON,80299.0
1,CO,2020-2021,10,212,MAPLETON 1,Mapleton Early College High School,8.055500e+10,270.0,09-12,4.0,...,2-No,2-No,6-Not a Title I school,NaN,119.0,50.0,0.625926,8980 YORK STREET,THORNTON,80229.0
2,CO,2020-2021,10,263,MAPLETON 1,Global Leadership Academy,8.055500e+10,269.0,09-12,4.0,...,2-No,2-No,6-Not a Title I school,NaN,148.0,40.0,0.698885,7480 CONIFER ROAD,DENVER,80221.0
3,CO,2020-2021,10,309,MAPLETON 1,Academy High School,8.055500e+10,448.0,09-12,4.0,...,2-No,2-No,6-Not a Title I school,NaN,216.0,68.0,0.633929,8970 YORK STREET,THORNTON,80229.0
4,CO,2020-2021,10,501,MAPLETON 1,Monterey Community School,8.055500e+10,0.0,K-08,3.0,...,2-No,1-Yes,6-Not a Title I school,NaN,NaN,NaN,NaN,2210 MCELWAIN BLVD,DENVER,80229.0

In [22]:
missing = df.isnull().sum()
missing

state                        0
year                         0
distid                       0
schoolid                     0
distname                     0
schoolname                   0
ncesid                      24
ncesenroll                  32
gradespan                   24
level                       24
enroll_raw                   0
pp_stloc_raw                44
pp_fed_raw                 161
pp_total_raw                18
pp_site_stloc_raw            0
pp_site_fed_raw              0
pp_site_raw                 26
pp_centshare_stloc_raw       0
pp_centshare_fed_raw         0
pp_centshare_raw            18
schoolstloc_raw             44
schoolfed_raw              161
schooltot_raw               18
flag                         0
nces_locale                 24
nces_charter                24
nces_magnet                 24
nces_title1                 24
nces_title1_schoolwide    1206
nces_freelunch             227
nces_reducedlunch          227
nces_poverty               228
nces_address                24
nces_city                   24
nces_zip                    24
dtype: int64